@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
}

body {
  background: rgb(131, 152, 184);
  background: linear-gradient(180deg, rgba(131, 152, 184, 1) 0%, rgba(231, 240, 248, 1) 100%);
  height: 100vh;
  overflow: auto;
}

:root {
  color: #414e6e;
  overflow: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  background: transparent;
}